body{margin: 0; padding: 0;}
.form-body{
  text-align: center;
}

.counter{
  height: 30px;
  width: 30px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 100px;
  position: relative;
  text-align: center;
  line-height: 30px;
}

.counter::before{
  content: "";
  position: absolute;
  height: 5px;
  background: #ccc;
  width: 210px;
  left: 30px;
  top: 50%;
  margin: 0;
  padding: 0;
  transform: translateY(-50%);
}
.counter:last-child::before{display: none;}

.form-card{
  background: #fff;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  display: inline-block;
  padding: 30px;
}
